/*
 * Add styling rules to the follow HTML tags on the webpages (where applicable):
 */

/* Page title selector */
body {
    background: rgb(240, 270, 15);
}

h1 {
    color: blue;
}


/* Search bar selector */
form {

}

input {
    border: 10px solid #98fb98;
    border-radius: 5;
    -webkit-appearance: none;
}

/* Search button selector */
button {
    border: 10px solid #98fb98;
}

/* Rendering of GIF images. */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    /*grid-auto-columns: 500px;
    grid-auto-rows: 500px;*/

}

.tenor-gif-embed {
    margin: auto;
    width: 500px;
    height: 500px;
    align-content: center;

}
