<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <!--Inspired by W3Schools, load jquery-->

        <script type="text/javascript" src = "../js/liveResults.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset="utf-8">
        <title>GIF Search</title>
        <link rel="stylesheet" href="../static/css/style.css" type = "text/css">
    {% endblock %}
</head>

    <body>
        <div align="center">
            <!-- Make a block 'body' so that the homepage can extend base -->
            {% block content %}
                BODY CONTENT HERE
            {% endblock %}
            <!-- Include the Tenor JavaScript to fill in GIFs appropriately -->
            <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </div>
</body>
</html>
