<!-- Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block content %}
    <head>
        <script src="jquery-3.4.1.min.js"></script>
        <!--Inspired by W3Schools-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        </head>
    <body>
        <h1>
            GIF SEARCH!
        </h1>
        <!-- Make an HTML form containing a search box and a submit button to add
            the search term to the query string -->
        <form action='/'>
            GIF Type?
            <input type="text" name="gif_type" autofocus onkeypress = "myFunction()" id = "text" value = "{{value}}" onfocus="testing()"></input>
            <button type="sumbit" name="search" value="search" id="search" >Submit</button>   
        </form>

<!--This button will display the top ten trending GIFs on Tenor.-->
        <form action='/'>
            See what's trending on Tenor!
            <button type="submit" name="trending" value="trending">Click me!</button>
        </form>

<!--This button will display RANDOM GIFs!-->
    <form action='/'>
            Want to see a surprise?
            <button type="submit" name="random" value="random">Show me something RANDOM!</button>
        </form>

    </body>


<!--Inspired by Gary Frederick-->
<script>
        $(document).ready(function(){
            $('#text').on('input', function(){
                 $('#gifs').text("Got rid of the gifs")
            })
        })
 </script>

<!-- If block to render user search results -->
    {% if gif_info|length > 0 %}
        Search results:
        <div class = "grid-container" id = "gifs">
        <!-- Make a for loop to loop over GIFs passed in from the server -->
        {% for info in gif_info %}
            <div class="tenor-gif-embed" data-postid="{{ info['id'] }}" data-share-method="host" data-width="500px"
            data-aspect-ratio="1.2266666666666666">
                <a href="{info['itemurl'] }}"></a>
                <a href="{{info['url'] }}"></a>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <img src = "http://b-connected.com/images/no-result.png" alt = 'Sorry, No Results Found!'/>
    {% endif %}

{% endblock %}
